@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

.main {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.header {
  background-color: white;
  .contentWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      align-items: center;
      .title {
        font-size: 1.8rem;
        font-weight: bold;
      }
      .nav {
        display: flex;
        align-items: center;
        .link {
          text-decoration: none;
          font-size: 1rem;
          color: rgb(63, 63, 63);
          padding: 0 20px;
        }
        .link:hover {
          font-weight: bold;
          color: black;
        }
        .number {
          padding-left: 40px;
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.hero {
  background-color: rgb(72, 72, 72);
  .contentHero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 15px;
    text-align: center;
    color: white;
    .text {
      padding: 10px 0;
      color: rgb(236, 236, 236);
      font-size: 1.3rem;
    }
  }
}

.feature {
  background-color: rgb(238, 238, 238);
  .featureContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;
    display: flex;
    justify-content: space-between;
    .box {
      max-width: 270px;
      min-height: 200px;
      .icon {
        max-width: 100px;
        min-height: 100px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 2.3rem;
        border-radius: 200px;
        background-color: rgb(52, 152, 219);
      }
      .title {
        text-align: center;
        margin: 30px 0;
        color: rgb(52, 152, 219);
        font-weight: bold;
        font-size: 1.2rem;
      }
      .text {
        text-align: justify;
        font-size: 0.9rem;
        line-height: 25px;
      }
    }
  }
}

.showcase {
  background-color: rgb(229, 229, 229);
  .showcaseContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    .infoContent {
      display: flex;
      justify-content: space-between;
      .textContent {
        max-width: 500px;
        padding: 80px 0;
        .distance {
          padding-bottom: 35px;
        }
        .sub {
          font-size: 0.9rem;
        }
        .title {
          font-size: 2.3rem;
          font-weight: bold;
        }
        .text {
          line-height: 25px;
          text-align: justify;
        }
        .button {
          background-color: white;
          padding: 15px 90px;
          border-radius: 6px;
          text-decoration: none;
          color: black;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
      .imageContent {
        width: 580px;
        min-height: 450px;
        background-image: url(https://images.vexels.com/media/users/3/159454/isolated/preview/626db91ef2f253c4f7bb68b4e699adae-ilustraci--n-de-la-pantalla-del-port--til-by-vexels.png);
        background-size: cover;
        background-position: center;
      }
    }
    .moreContent {
      display: flex;
      padding-bottom: 80px;
      justify-content: space-between;
      .boxContent {
        background-color: white;
        width: 100%;
        text-align: center;
        min-height: 160px;
        text-decoration: none;
        color: black;
        padding: 40px;
        .text {
          font-size: 0.8rem;
          font-weight: bold;
          padding-bottom: 15px;
        }
        .bold {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      .boxContent:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

.blog {
  background-color: rgb(238, 238, 238);
  .blogContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
    display: flex;
    justify-content: space-between;
    .box {
      max-width: 380px;
      text-decoration: none;
      .titleContent {
        display: flex;
        padding: 20px 0;
        align-items: center;
        .bold {
          font-size: 1.2rem;
          font-weight: bold;
          padding-right: 10px;
          color: black;
        }
        .space {
          color: white;
          padding-right: 10px;
        }
        .grey {
          color: rgb(114, 114, 114);
        }
      }
      .barra {
        max-width: 70px;
        color: white;
        height: 3px;
        margin: 0;
        margin-bottom: 20px;
      }
      .view {
        background-color: white;
        margin-bottom: 70px;
        .viewImage {
          width: 100%;
          min-height: 150px;
          background-color: rgb(72, 72, 72);
          display: flex;
          align-items: flex-end;
          margin-bottom: 5px;
          .date {
            color: white;
            background-color: rgb(135, 135, 135);
            display: inline-block;
            padding: 5px 10px;
          }
        }
        .viewImage:hover {
          background-color: rgb(99, 99, 99);
        }
        .textContent {
          padding: 17px;
          .title {
            color: rgb(52, 152, 219);
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 10px;
          }
          .text {
            text-align: justify;
            color: rgb(114, 114, 114);
          }
        }
      }
    }
  }
}

.footer {
  background-color: rgb(201, 201, 201);
  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    .info {
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      .infoContent {
        max-width: 300px;
        .title {
          font-weight: bold;
          font-size: 1.2rem;
          margin-bottom: 30px;
        }
        .contact {
          margin-bottom: 30px;
          .distance {
            margin-bottom: 5px;
          }
        }
        .mail.size {
          font-size: 1rem;
        }
        .size {
          color: rgb(114, 114, 114);
          font-size: 0.9rem;
        }
      }
      .linkContent {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        .link {
          text-decoration: none;
          color: rgb(114, 114, 114);
          font-size: 0.9rem;
          margin-bottom: 15px;
          font-weight: bold;
        }
      }
    }
    .mensaje {
      max-width: 400px;
      .title {
        font-weight: bold;
        font-size: 0.9rem;
        color: rgb(68, 68, 68);
        padding-bottom: 20px;
      }
      .submit {
        display: flex;
        margin-bottom: 50px;
        max-width: 400px;
        .text {
          max-width: 100%;
          padding: 10px 5px;
          border: none;
          outline: none;
          margin-right: 15px;
        }
        .button {
          background-color: rgb(98, 98, 98);
          border-radius: 0;
          border: none;
          color: white;
          outline: none;
        }
      }
      .follows {
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        padding-right: 5px;
      }
    }
  }
}

/*   responsive   */

@media only screen and (max-width: 1150px) {
  .header .headerWrapper {
    display: flex;
    flex-direction: column;
  }
  .header .title {
    margin-bottom: 10px;
  }

  .feature .featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
  }
  .featureContent .box {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .showcaseContent .infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerContent .info {
    max-width: 400px;
    margin-bottom: 20px;
  }
  .footerContent .info {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .showcaseContent .infoContent .textContent {
    padding: 80px 20px;
  }
}
@media only screen and (max-width: 770px) {
  .header .nav .number {
    display: none;
  }
  .showcaseContent .infoContent .imageContent {
    width: 400px;
  }
  .feature .featureContent {
    padding: 100px 100px;
  }
}
@media only screen and (max-width: 650px) {
  .showcaseContent .moreContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    .boxContent {
      max-width: 340px;
    }
  }
  .showcaseContent .infoContent .imageContent {
    width: 400px;
  }
}
@media only screen and (max-width: 580px) {
  .showcaseContent .infoContent .imageContent {
    display: none;
  }

  .showcaseContent .moreContent .boxContent {
    max-width: 220px;
  }

  .feature .featureContent {
    padding: 100px 50px;
  }

  .header .nav .link {
    font-size: 0.8rem;
    padding: 0 5px;
  }
}
@media only screen and (max-width: 350px) {
  .showcaseContent .infoContent .textContent .button {
    padding: 15px 70px;
  }
  .header .nav .link {
    display: none;
  }
}
